@use "../../sass/colors.module.scss";
@use "../../sass/fonts.module.scss";

.login {
  width: 100%;
  height: 100%;
  // background-color: colors.$color-accent;
  background: linear-gradient(
    to bottom,
    colors.$color-accent-gradient-from,
    colors.$color-accent-gradient-to
  );
}

.exitRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;

  padding: 1.5rem 3rem 0 0;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

