@use "../../sass/colors.module.scss";
@use "../../sass/fonts.module.scss";

.userIconContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  p {
    color: colors.$color-background;
    font-size: fonts.$size-1;
    font-weight: fonts.$weight-medium;
  }
}

