@use "../../sass/colors.module.scss";
@use "../../sass/fonts.module.scss";

.lowerSection {
  width: 100%;
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  height: 4rem;
  padding: 0 2rem;
  border-radius: 21px / 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  font-size: fonts.$size-2;
  font-weight: fonts.$weight-semi-bold;

  &.deleteBtn {
    color: colors.$color-background;
    background-color: colors.$color-attention;

    transition: background-color 0.3s;

    &.disabled {
      color: colors.$color-background-faded;
      background-color: colors.$color-attention-faded;
    }
  }

  &.rateBtn {
    width: 15rem;
    color: colors.$color-text;
    background-color: colors.$color-background;
  }
}

.transitionRef {
  flex-grow: 1;
}

