{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "tabWidth": 2,
    "endOfLine": "crlf",
    "importOrder": ["^components/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}