@use "../../sass/colors.module.scss";
@use "../../sass/fonts.module.scss";

.loginForm {
  // width: 100%;
}

.loginField {
  width: 25rem;

  &:last-child {
    padding-top: 5rem;
  }

  label {
    display: block;
    margin-bottom: 2rem;
    font-size: fonts.$size-3;
  }

  input {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid black;

    font-size: fonts.$size-4;

    &:focus {
      outline: none;
    }
  }
}

