@use "../../sass/colors.module.scss";
@use "../../sass/fonts.module.scss";

.loginForm {
  width: 26rem;
}

.loginField {
  width: 100%;

  &:first-child {
    margin-bottom: 5rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
    font-size: fonts.$size-3;
  }

  input {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid black;

    font-size: fonts.$size-5;
    font-weight: fonts.$weight-default;

    text-decoration: none;

    &:focus {
      outline: none;
      text-decoration: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: colors.$color-text;
      -webkit-text-size-adjust: 100%;
      transition: background-color 5000s ease-in-out 0s;
      // box-shadow: inset 0 0 20px 20px #23232329;
    }
  }
}

.submitRow {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}

.submitBtn {
  height: 4rem;
  width: 20rem;
  color: colors.$color-background;
  background-color: colors.$color-text;
  border: none;
  border-radius: 22px / 50%;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

