@use "../../../sass/colors.module.scss";
@use "../../../sass/fonts.module.scss";

.cardContainer {
  height: 50%;
  width: 100%;
  flex: auto;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posterRow {
  height: 23svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posterSection {
  height: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster {
  height: 100%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.infoSection {
  flex: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infoRow {
  h4 {
    display: block;
    text-align: center;

    font-weight: fonts.$weight-semi-bold;
    font-size: fonts.$size-2;
  }

  p {
    display: block;
    text-align: center;

    font-weight: fonts.$weight-default;
    font-size: fonts.$size-1;
  }
}

.plotSection {
  flex: auto;
  width: 100%;

  overflow-x: hidden;

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10px,
    black calc(100% - 10px),
    transparent 100%
  );

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  // mask-image: linear-gradient(
  //   to left,
  //   transparent 0%,
  //   black 10px,
  //   black calc(100% - 10px),
  //   transparent 100%
  // );

  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.extraInfoSection {
  p {
    padding-bottom: 0.5rem;
    font-weight: fonts.$weight-default;
    font-size: fonts.$size-1;
  }
}

