@use "../../../sass/colors.module.scss";
@use "../../../sass/fonts.module.scss";

.plotSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding-top: 0.5rem;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  font-size: fonts.$size-3;
  font-weight: fonts.$weight-default;
  line-height: fonts.$line-height-default;
}

.extraInfoSection {
  width: 100%;
  p {
    padding-bottom: 0.5rem;
    font-weight: fonts.$weight-default;
    font-size: fonts.$size-1;
  }
}

.recommendedSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  p {
    color: colors.$color-background;
    font-size: fonts.$size-2;
  }
}

