$base-font: "Poppins";

// font sizes
$size-1: 1.024rem;
$size-2: 1.28rem;
$size-3: 1.6rem;
$size-6: 2rem;
$size-7: 2.5rem;
$size-8: 3.125rem;
$size-9: 3.906rem;
$size-10: 4.883rem;
$size-11: 6.104rem;

// font weights
$weight-default: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// line heights
$line-height-default: 1.7;
$line-height-large-text: 1.2;

// letter spacing