@use "../../../sass/colors.module.scss";
@use "../../../sass/fonts.module.scss";

.forgotForm {
  width: 26rem;
}

.submitRow {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}

.submitBtn {
  width: 20rem;
  color: colors.$color-background;
  background-color: colors.$color-text;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

