@use "../../sass/colors.module.scss";
@use "../../sass/fonts.module.scss";

.homepage {
  background-color: colors.$color-primary;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  color: colors.$color-text-light;
  font-size: fonts.$size-1;
  font-weight: fonts.$weight-default;
  background-color: colors.$color-background;
  display: flex;
  align-items: center;
  justify-content: center;

  a:link,
  a:visited {
    color: colors.$color-text-light;
    font-size: fonts.$size-1;
    font-weight: fonts.$weight-default;
    text-decoration: none;
  }

  a:hover,
  a:active {
    // color: colors.$color-text-light;
    // font-size: fonts.$size-1;
    // font-weight: fonts.$weight-default;
    // text-decoration: none;
  }
}

