@use "sass/colors.module.scss";
@use "sass/fonts.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: fonts.$base-font, sans-serif;
  background-color: colors.$color-background;
  color: colors.$color-text;
}
