@use "../../../sass/colors.module.scss";
@use "../../../sass/fonts.module.scss";

.addSection {
  height: 77svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0 2rem;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-82svh);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-82svh);
  }

  100% {
    transform: translateY(0);
  }
}

.infoCard {
  width: 100%;
  position: absolute;
  bottom: -82svh;
  z-index: 10;
}

.show {
  animation: slideUp 0.3s ease 0s;
  transform: translateY(-82svh);
}

.hide {
  animation: slideDown 0.3s ease 0s;
  transform: translateY(0);
}

