@use "../../../sass/colors.module.scss";
@use "../../../sass/fonts.module.scss";

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(colors.$color-text, 0.7);
  // backdrop-filter: blur(2px);
  z-index: 9;
}

